*{
    font-family: sans-serif;
}
.row{
  display: inline-flex;
}
form{
  display: flex;
  flex-direction: column;
}
body{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: var(--color);
  margin: 0;
  padding: 15px;
}

/* affichage portable */
@media only screen and (max-width: 800px) {
	content {
		display: grid;
		grid-template-rows: 1fr 1fr;
		height: 100%;
		width: 100%;
	}
	p{
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.flex-midle.morph{
		background: white;
		width: 90%;
		margin: auto;
		box-shadow: none!important;
	}
	form{
		width:100%;
	}
	footer{
		text-align: center;
	}
	.flex-midle{
		padding-bottom: 15px;
		padding-top: 15px;
	}
}
/* affichage pc */
@media only screen and (min-width: 800px) {
	content{
	  display: grid;
	  grid-template-columns: 1fr 2fr;
	  width: 100%;
	}
	p{
	  display: inline-grid;
	  grid-auto-columns: 1fr;
	  grid-auto-flow: column;
	  grid-template-columns: 70px 1fr;
	  margin: 0;
	}
	footer{
		position: absolute;
	    right: 0;
	    bottom: 0;
	    padding: 5px;
	}
}
.square{
  --dd: calc(30vh);
  width: var(--dd);
  height: var(--dd);
}
.morph{
  border-radius: 32px;
  background: var(--color);
  box-shadow:  30px 30px 60px rgb(calc(var(--r) - var(--intensity)),calc(var(--g) - var(--intensity)),calc(var(--b) - var(--intensity))),
               -30px -30px 60px rgb(calc(var(--r) + var(--intensity)),calc(var(--g) + var(--intensity)),calc(var(--b) + var(--intensity)));
  margin: auto;
  padding: 15px;
}
.flex-midle{
  display: flex;
  align-items: center;
}
p *{
  padding: 10px;
}
footer{
  color: rgb(calc(var(--r) - var(--intensity) * 2),calc(var(--g) - var(--intensity) * 2),calc(var(--b) - var(--intensity) * 2))
}